<%- include("header") -%>


<h1>CLASSES</h1>
<form  class="it" method="post" action="/classes">
    <div class="form-input">
        <label for="log-in">Class Code</label>
<input type="number" name="ccode" class="form-control" required autofocus id="log-in">
</div>
<div class="form-input">
    <label for="log-in">Class Section</label>
<input type="text" name="sec" class="form-control" required autofocus id="log-in">
</div>
<div class="form-input">
    <button type="submit" name="button" class="btn btn-primary">Publish</button>
    </div>
</form>






<%- include("footer") -%>