<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>STUDENT DATA COLLECTOR</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">STUDENT DATA COLECTOR</p>
      </div>
      <form action="/" method="post">
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="HOME"><a  href="/">HOME</a></li>
          <li id="STUDENT"><a  href="/students">STUDENTS</a></li>
          <li id="CLASS"><a  href="/classes">CLASSES</a></li>
          <li id="SUBJECT"><a  href="/subjects">SUBJECTS</a></li>
          <li id="GETREPORT"><a  href="/getreport">MARKSHEET</a></li>
        </ul>
        </ul>
      </form>
    </div>
  </nav>

  <body>
    <div class="container">
